{% extends 'view.twig' %}

{% block content %}
    <section class="assemble-section">
        <h2 class="assemble-title"> Productos elegidos </h2>
        <article class="article-part-assemble">
            <h3>Procesador</h3>
            {% if components.cpu.path_img is not null %}
            <picture>
                <img src="{{components.cpu.path_img}}">
            </picture>
            {% endif %}
            <p>
                {% if components.cpu.description is not null %}
                {{components.cpu.description}}
                {% else %}
                requerido
                {% endif %}
            </p>
            {% if components.cpu.description is null %}
            <button data-url="/assemble_pc_cpu" class="cpu">Elegir</button>
            {% else %}
            <button data-url="/assemble_pc_delete_product" class="cpu">Eliminar</button>
            {% endif %}
        </article>
        <article class="article-part-assemble">
            <h3>Placa madre</h3>
            {% if components.motherboard.path_img is not null %}
            <picture>
                <img src="{{components.motherboard.path_img}}">
            </picture>
            {% endif %}
            <p>
                {% if components.motherboard.description is not null %}
                {{components.motherboard.description}}
                {% else %}
                requerido
                {% endif %}
            </p>
            {% if components.motherboard.description is null %}
            <button data-url="/assemble_pc_motherboard" class="motherboard">Elegir</button>
            {% else %}
            <button data-url="/assemble_pc_delete_product" class="motherboard">Eliminar</button>
            {% endif %}
        </article>
        <article class="article-part-assemble">
            <h3>Memoria RAM</h3>
            {% if components.memory.path_img is not null %}
            <picture>
                <img src="{{components.memory.path_img}}">
            </picture>
            {% endif %}
            <p>
                {% if components.memory.description is not null %}
                {{components.memory.description}}
                {% else %}
                requerido
                {% endif %}
            </p>
            {% if components.memory.description is null %}
            <button data-url="/assemble_pc_ram" class="memory">Elegir</button>
            {% else %}
            <button data-url="/assemble_pc_delete_product" class="memory">Eliminar</button>
            {% endif %}
        </article>
        <article class="article-part-assemble">
            <h3>Tarjeta gráfica</h3>
            {% if components.videoCard.path_img is not null %}
            <picture>
                <img src="{{components.videoCard.path_img}}">
            </picture>
            {% endif %}
            <p>
                {% if components.videoCard.description is not null %}
                {{components.videoCard.description}}
                {% else %}
                No requerido
                {% endif %}
            </p>
            {% if components.videoCard.description is null %}
            <button data-url="/assemble_pc_gpu" class="videoCard">Elegir</button>
            {% else %}
            <button data-url="/assemble_pc_delete_product" class="videoCard">Eliminar</button>
            {% endif %}
        </article>
        <article class="article-part-assemble">
            <h3>Almacenamiento</h3>
            {% if components.internalHardDrive.path_img is not null %}
            <picture>
                <img src="{{components.internalHardDrive.path_img}}">
            </picture>
            {% endif %}
            <p>
                {% if components.internalHardDrive.description is not null %}
                {{components.internalHardDrive.description}}
                {% else %}
                requerido
                {% endif %}
            </p>
            {% if components.internalHardDrive.description is null %}
            <button data-url="/assemble_pc_internal_hard_drive" class="internalHardDrive">Elegir</button>
            {% else %}
            <button data-url="/assemble_pc_delete_product" class="internalHardDrive">Eliminar</button>
            {% endif %}
        </article>
        <article class="article-part-assemble">
            <h3>Cooler</h3>
            {% if components.cpuFan.path_img is not null %}
            <picture>
                <img src="{{components.cpuFan.path_img}}">
            </picture>
            {% endif %}
            <p>
                {% if components.cpuFan.description is not null %}
                {{components.cpuFan.description}}
                {% else %}
                No requerido
                {% endif %}
            </p>
            {% if components.cpuFan.description is null %}
            <button data-url="/assemble_pc_cpu_fan" class="cpuFan">Elegir</button>
            {% else %}
            <button data-url="/assemble_pc_delete_product" class="cpuFan">Eliminar</button>
            {% endif %}
        </article>
        <article class="article-part-assemble">
            <h3>Fuente de poder</h3>
            {% if components.powerSupply.path_img is not null %}
            <picture>
                <img src="{{components.powerSupply.path_img}}">
            </picture>
            {% endif %}
            <p>
                {% if components.powerSupply.description is not null %}
                {{components.powerSupply.description}}
                {% else %}
                requerido
                {% endif %}
            </p>
            {% if components.powerSupply.description is null %}
            <button data-url="/assemble_pc_power_supply" class="powerSupply">Elegir</button>
            {% else %}
            <button data-url="/assemble_pc_delete_product" class="powerSupply">Eliminar</button>
            {% endif %}
        </article>
        <article class="article-part-assemble">
            <h3>Gabinete</h3>
            {% if components.casePc.path_img is not null %}
            <picture>
                <img src="{{components.casePc.path_img}}">
            </picture>
            {% endif %}
            <p>
                {% if components.casePc.description is not null %}
                {{components.casePc.description}}
                {% else %}
                requerido
                {% endif %}
            </p>
            {% if components.casePc.description is null %}
            <button data-url="/assemble_pc_case" class="casePc">Elegir</button>
            {% else %}
            <button data-url="/assemble_pc_delete_product" class="casePc">Eliminar</button>
            {% endif %}
            
        </article>
        <a href="/templates" class="boton-anchor" id="buy-button">
            Comprar
        </a>
    </section>

{% if messageBoolean %}
<script>
    Swal.fire({
        icon: "success",
        title: "Componente agregado correctamente!",
        backdrop: true,
        //toast: true,
        position: "top-end",
        timer: 5000,
        timerProgressBar: true,
        customClass: {
            title: "swal-title",
            content: "swal-content",
            confirmButton: "swal-confirm-button",
            cancelButton: "swal-cancel-button"
        }
    });
</script>
{% endif %}
{% endblock %}
