{% extends 'view.twig' %}

{% block content %}
    <section class="assemble-section">
        <h2 class="assemble-title"> Productos elegidos </h2>
        <article class="article-part-assemble">
            <h3>1- Procesador</h3>
            {% if components.cpu.path_img is not null %}
            <picture>
                <img src="{{components.cpu.path_img}}">
            </picture>
            {% endif %}
            <p>
                {% if components.cpu.description is not null %}
                {{components.cpu.description}}
                {% else %}
                Requerido
                {% endif %}
            </p>
            {% if components.cpu.description is null %}
            <button data-url="/assemble_pc_cpu" class="cpu assemblePcButton" title="Presiona para elegir una CPU">Elegir</button>
            {% else %}
            <button data-url="/assemble_pc_delete_product" class="cpu assemblePcButton" title="Presiona para eliminar la CPU">Eliminar</button>
            {% endif %}
        </article>
        <article class="article-part-assemble">
            <h3>2- Placa madre</h3>
            {% if components.motherboard.path_img is not null %}
            <picture>
                <img src="{{components.motherboard.path_img}}">
            </picture>
            {% endif %}
            <p>
                {% if components.motherboard.description is not null %}
                {{components.motherboard.description}}
                {% else %}
                Requerido
                {% endif %}
            </p>
            {% if components.motherboard.description is null %}
            <button data-url="/assemble_pc_motherboard" class="motherboard assemblePcButton" title="Presiona para elegir una motherboard">Elegir</button>
            {% else %}
            <button data-url="/assemble_pc_delete_product" class="motherboard assemblePcButton" title="Presiona para eliminar la motherboard">Eliminar</button>
            {% endif %}
        </article>
        <article class="article-part-assemble">
            <h3>3- Memoria RAM</h3>
            {% if components.memory.path_img is not null %}
            <picture>
                <img src="{{components.memory.path_img}}">
            </picture>
            {% endif %}
            <p>
                {% if components.memory.description is not null %}
                {{components.memory.description}}
                {% else %}
                Requerido
                {% endif %}
            </p>
            {% if components.memory.description is null %}
            <button data-url="/assemble_pc_ram" class="memory assemblePcButton" title="Presiona para elegir una memoria RAM">Elegir</button>
            {% else %}
            <button data-url="/assemble_pc_delete_product" class="memory assemblePcButton" title="Presiona para eliminar la memoria RAM">Eliminar</button>
            {% endif %}
        </article>
        <article class="article-part-assemble">
            <h3>4- Tarjeta gráfica</h3>
            {% if components.videoCard.path_img is not null %}
            <picture>
                <img src="{{components.videoCard.path_img}}">
            </picture>
            {% endif %}
            <p>
                {% if components.videoCard.description is not null %}
                {{components.videoCard.description}}
                {% else %}
                No requerido
                {% endif %}
            </p>
            {% if components.videoCard.description is null %}
            <button data-url="/assemble_pc_gpu" class="videoCard assemblePcButton" title="Presiona para elegir una tarjeta grafica">Elegir</button>
            {% else %}
            <button data-url="/assemble_pc_delete_product" class="videoCard assemblePcButton" title="Presiona para eliminar la tarjeta grafica">Eliminar</button>
            {% endif %}
        </article>
        <article class="article-part-assemble">
            <h3>5- Almacenamiento</h3>
            {% if components.internalHardDrive.path_img is not null %}
            <picture>
                <img src="{{components.internalHardDrive.path_img}}">
            </picture>
            {% endif %}
            <p>
                {% if components.internalHardDrive.description is not null %}
                {{components.internalHardDrive.description}}
                {% else %}
                Requerido
                {% endif %}
            </p>
            {% if components.internalHardDrive.description is null %}
            <button data-url="/assemble_pc_internal_hard_drive" class="internalHardDrive assemblePcButton" title="Presiona para elegir un disco duro interno">Elegir</button>
            {% else %}
            <button data-url="/assemble_pc_delete_product" class="internalHardDrive assemblePcButton" title="Presiona para eliminar el disco duro interno">Eliminar</button>
            {% endif %}
        </article>
        <article class="article-part-assemble">
            <h3>6- Cooler</h3>
            {% if components.cpuFan.path_img is not null %}
            <picture>
                <img src="{{components.cpuFan.path_img}}">
            </picture>
            {% endif %}
            <p>
                {% if components.cpuFan.description is not null %}
                {{components.cpuFan.description}}
                {% else %}
                No requerido
                {% endif %}
            </p>
            {% if components.cpuFan.description is null %}
            <button data-url="/assemble_pc_cpu_fan" class="cpuFan assemblePcButton" title="Presiona para elegir un cooler">Elegir</button>
            {% else %}
            <button data-url="/assemble_pc_delete_product" class="cpuFan assemblePcButton" title="Presiona para eliminar el cooler">Eliminar</button>
            {% endif %}
        </article>
        <article class="article-part-assemble">
            <h3>7- Fuente de poder</h3>
            {% if components.powerSupply.path_img is not null %}
            <picture>
                <img src="{{components.powerSupply.path_img}}">
            </picture>
            {% endif %}
            <p>
                {% if components.powerSupply.description is not null %}
                {{components.powerSupply.description}}
                {% else %}
                Requerido
                {% endif %}
            </p>
            {% if components.powerSupply.description is null %}
            <button data-url="/assemble_pc_power_supply" class="powerSupply assemblePcButton" title="Presiona para elegir una fuente de alimentacion">Elegir</button>
            {% else %}
            <button data-url="/assemble_pc_delete_product" class="powerSupply assemblePcButton" title="Presiona para eliminar la fuente de alimentacion">Eliminar</button>
            {% endif %}
        </article>
        <article class="article-part-assemble">
            <h3>8- Gabinete</h3>
            {% if components.casePc.path_img is not null %}
            <picture>
                <img src="{{components.casePc.path_img}}">
            </picture>
            {% endif %}
            <p>
                {% if components.casePc.description is not null %}
                {{components.casePc.description}}
                {% else %}
                Requerido
                {% endif %}
            </p>
            {% if components.casePc.description is null %}
            <button data-url="/assemble_pc_case" class="casePc assemblePcButton" title="Presiona para elegir un gabinete">Elegir</button>
            {% else %}
            <button data-url="/assemble_pc_delete_product" class="casePc assemblePcButton" title="Presiona para eliminar el gabinete">Eliminar</button>
            {% endif %}
            
        </article>
        <a href="/templates" class="boton-anchor" id="buy-button" title="Presiona para comprar la PC que armaste!">
            Comprar
        </a>
    </section>

{% if messageBoolean %}
<script>
    Swal.fire({
        icon: "success",
        title: "Componente agregado correctamente!",
        backdrop: true,
        //toast: true,
        position: "top-end",
        timer: 5000,
        timerProgressBar: true,
        customClass: {
            title: "swal-title",
            content: "swal-content",
            confirmButton: "assemblePcButton",
            cancelButton: "assemblePcButton"
        }
    });
</script>
{% endif %}
{% endblock %}