{% extends 'view.twig' %}

{% block main_class %}product{% endblock %}

{% block content %}
    <picture>
        {# <img src= "{{item.pathImg}}" > #}#
    </picture>
    <section>
        <h3>{{product.description}}</h3>
        <p> 
            {{product.price}}$
            <br>
            {{product.stock}} unidades restantes
        </p>
        <h4>Caracteristicas</h4>
        <ul>
            {% for key, value in productSpecific %}
                <li>{{key}}: {{value}}</li>
            {% endfor %}
        </ul>
        <form class="form">
        <div class="input-group">
            <label for="searchbar-templates">Cantidad</label>
            
                <input type="number" id="searchbar-templates" name="searchbar-templates" 
                class="searchbar-input" tabindex="1" autocomplete="on" autofocus required min="1" max="{{product.stock}}">
        </div>
                <input type="submit" value="Agregar al carrito" class="submit form-submit">
            
        </form>
    </section>
{% endblock %}