{% extends 'view.twig' %}

{% block main_class %}product-unit{% endblock %}

{% block content %}
    <picture class="products-list">
        <img src= "{{product.path_img}}" > 
    </picture>
    <section id="{{ product.id }}">
        <h3>{{product.description}}</h3>
        <p> 
            {{product.price}}$
            <br>
            {{product.stock}} unidades restantes
        </p>
        <h4>Caracteristicas</h4>
        <ul>
            {% for key, value in productSpecific %}
                <li>{{key}}: {{value}}</li>
            {% endfor %}
        </ul>
        <form class="addToCartForm">
            <!--<div class="input-group"> -->
            <label for="quantity">Cantidad</label>
            <input type="number" id="quantity" name="quantity" 
                    class="searchbar-input" tabindex="1" autocomplete="on" autofocus required 
                       min="1" max="{{ product.stock }}">
            <!-- </div> -->
            <input type="hidden" name="product_id" value="{{ product.id }}">
            <input type="submit" value="Agregar al carrito" class="submit form-submit" title="Presiona para agregar al carrito">
        </form>
    </section>
{% endblock %}