<nav class="nav-account">
    <ul>
        {% for item in navAccount %}
            {% if userRole in item.role %} 
                <li>
                    <a href="{{ item.href }}" 
                        class="{{ pathInfo == item.href ? 'selected' : 'not-selected' }}">
                        {{ item.name }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
        {% if userLogged %}
            <li>
                <a href="/account" class="{{ pathInfo == "/account" ? 'selected' : 'not-selected' }} account-anchor">
                    <img class="account-image" alt="Account" src="./source/pictures/account.svg">
                    <p class"account-name"> {{ username }} </p>
                </a>
            </li>
            <li class="notifications" id="notifications">
                <a href="javascript:void(0);" class="notifications-anchor">
                    <img id="notification-icon" alt="Notifications" src="./source/pictures/notification-none.svg">
                </a>
                <div id="notification-dropdown" class="notification-dropdown hidden">
                    <ul id="notification-list">
                        {% for notification in notifications %}
                            <li>
                                <article class="notification-art {% if notification.seen %} seen {% else %} notSeen {% endif %}" id="{{notification.id}}">
                                    <h4>{{notification.notification_type.name}}</h4>
                                    <p>
                                    Order #{{notification.order.id}}: <br>
                                    {{notification.notification_type.description}}<br>
                                    <date>{{notification.timestamp}}</date>
                                    </p>
                                    <br>
                                    <button type="button">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </article>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
        {% endif %}
    </ul>
</nav>