<nav class="nav-account">
    <ul>
        {% for item in navAccount %}
            {% if userRole in item.role %} 
                <li>
                    <a href="{{ item.href }}" 
                        class="{{ pathInfo == item.href ? 'selected' : 'not-selected' }}">
                        {{ item.name }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
        {% if userLogged %}
            <li>
                <a href="/account" class="{{ pathInfo == "/account" ? 'selected' : 'not-selected' }} account-anchor">
                    <img class="account-image" alt="Account" src="./source/pictures/account.svg">
                    <p class"account-name"> {{ username }} </p>
                </a>
            </li>
        {% endif %}
</nav>